<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System"></sectionGroup>
  </configSections>
  <appSettings>
    <add key="RepositoriesBusiness" value="DAL.Repositories.Sql" />
	<add key="RepositoriesFirebase" value="DAL.Repositories.Firebase" />
    <add key="RepositoriesLogger" value="Services.Logger.DAL.LogRepository" />
	<add key="Path_Attachments" value="\Adjuntos\" />
	<add key="File_Session" value="\Serializable\Log_session.txt" />
	<add key="File_DAL" value="\Serializable\Log_DAL.txt" />
	<add key="Firebase_Secret" value="4D1kPJ3Y5FAAxaFzLZ0YBwPpLeWItjn1XCqyGA8e"/>
	<add key="Firebase_Path" value="https://tfi-genotec-firebase-default-rtdb.firebaseio.com/"/>
  </appSettings>
	<connectionStrings>
		<add name="Connection_Business" connectionString="Data Source=ACER-ASPIRE-E15\SQLEXPRESS;Initial Catalog=TFI_Genotec_Negocio;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
		<add name="Connection_Services" connectionString="Data Source=ACER-ASPIRE-E15\SQLEXPRESS;Initial Catalog=TFI_Genotec_Seguridad;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>